@charset "utf-8";

/* reset style [start] */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{margin: 0;padding: 0;  border:0;} /* vertical-align: baseline; outline: 0; ie �� ������ ��Ŀ�� ������� ������ ���� */

legend, caption {display:none;}
html, body {height:100%;}
html, body, textarea, select, div {margin:0;padding:0; color:#767676; font-size:12px; font-family:Dotum,Gulim,"Lucida Grande",Tahoma,Verdana,AppleGothic,sans-serif; color:#565656; line-height: 170%;}

ol, ul, li {list-style: none;}
blockquote, q {quotes: none;}
/* remember to define focus styles! :focus {outline: 0;} */
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-spacing:0;} /* border-collapse: collapse; ff���� border="0" �� ��� ���� �߻� */
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;} /* font-weight:normal */
/* reset style [end] */
input.textBox { border-top:1px solid #969696; border-left:1px solid #969696; border-right:1px solid #b9b9b9; border-bottom:1px solid #b9b9b9; height:17px; margin-bottom:1px; padding:0 2px; }
.radio { margin-bottom:-2px;}
textarea {border:1px solid #969696;}
hr {display: none;}
legend { visibility:hidden; height:0; width:0; font-size:0;}

a {color: #666; text-decoration: none; }
a:link {color: #666; text-decoration: none; }
a:hover {color: #666; text-decoration: underline; }
a:visited {color: #666; text-decoration: none; }