@charset "utf-8";
@import url(base.css); 
@import url(header.css); 
@import url(footer.css);
@import url(layouts.css); 


/*#container*/
#container .con_left{
	float:left;
	width:275px;
	margin-right:22px;
	margin-top: 50px;
}
/*#container .con_left, #container .con_center .#container .con_right{
	margin-bottom:410px;
}*/
#container .con_left p{
	margin-bottom:124px;
}
#container .con_left .logo{
	margin-bottom:38px;
}
#container .con_left .logo_title, #container .con_left .mean_title, #container .con_center .who_title{
	border-bottom:1px #646464 dotted;
	padding-bottom:7px;
	margin-bottom:15px;
	font-weight: bold;
}
#container .con_left .logo_top{
	background:url('../images/img/logo_top.gif') no-repeat;
	width:275px;
	height:45px; 
}
#container .con_left .logo_bottom{
	background:url('../images/img/logo_bottom.gif') no-repeat;
	width:275px;
	height:45px;
	margin-top:10px;
}
#container .con_right{
	float:right;
	width:570px;
	overflow: hidden;
	margin-top: 50px;
}
#container .con_left .mean dd, #container .con_center .who dd{
	text-align:justify;
}
#container .con_center{
	float:left;
	margin-right:22px;
	width:275px;
	padding-top:186px;
	margin-top: 50px;	
}
#container .con_center .sns_title{
	border-top:1px #646464 dotted;
	padding-top:15px;
	margin-top:15px;
	font-weight:bold;
}
#container .con_center ul{
	float:left;
	margin-top:-22px;
}
#container .con_center li{
	display:inline;
	float:left;
	margin-left:10px;
	line-height: 18px;
	text-align: center;
}